/* Vendors
 * -------------------------------------------------------------------------- */

@import url("https://necolas.github.io/normalize.css/3.0.2/normalize.css");

/* Variables
 * -------------------------------------------------------------------------- */

:root {
  /* Colors */
  --text-color: #444;
  --link-color: #4c9cff;

  /* Typography */
  --font-family-base: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-size-base: 18px;
  --font-size-small: 80%;
  --line-height-base: 1.5;

  /* Headings */
  --heading-font-weight: 300;
}

/* Styles
 * -------------------------------------------------------------------------- */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  text-shadow: 0 1px #fff;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: 500;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #eee;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--heading-font-weight);
}

small,
.small {
  font-size: var(--font-size-small);
}

ul.inline,
ol.inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul.inline li,
ol.inline li {
  display: inline;
  margin-right: .5em;
  margin-left: .5em;
}

header {
  margin-top: 2.5em;
}

header h1 {
  margin-top: 1.5em;
}

header ul {
  margin-top: 2em;
}

header img {
  border-radius: 6px;
}

footer {
  margin-top: 2.5em;
}

section + section {
  margin-top: 2.5em;
}

article + article {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid #eee;
}

.compact > *:first-child {
  margin-top: 0;
}

.compact > *:last-child {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #848484;
}

.container {
  max-width: 740px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.card {
  padding: 1em 1.25em;
  margin: 1em -1.25em;
  border: 1px solid #eee;
  border-radius: 3px;
}
