/* Vendors
 * -------------------------------------------------------------------------- */

@import url("normalize.css");

/* Variables
 * -------------------------------------------------------------------------- */

:root {
  /* Colors */
  --text-color: #333;
  --link-color: #0067e6;
  --muted-color: #767676;

  /* Typography */
  --font-family-base: Helvetica, Arial, sans-serif;
  --font-size-base: 1rem;
  --font-size-tablet: 1.2rem;
  --font-size-small: 80%;
  --font-weight-base: 300;
  --line-height-base: 1.7;

  /* Headings */
  --heading-font-weight: 300;
}

/* Media quries
 * -------------------------------------------------------------------------- */

@custom-media --tablet (min-width: 34rem);

/* Styles
 * -------------------------------------------------------------------------- */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  text-shadow: 0 1px #fff;
}

@media (--tablet) {
  body {
    font-size: var(--font-size-tablet);
  }
}

a {
  color: var(--link-color);
  text-shadow: 1px 0 #fff, -1px 0 #fff;
}

:focus {
  outline-color: color(var(--link-color) alpha(25%));
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 1px;
}

b,
strong {
  font-weight: 500;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1.6rem 0;
  border: 0;
  border-top: 1px solid #eee;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--heading-font-weight);
}

small,
.small {
  font-size: var(--font-size-small);
}

ul.inline,
ol.inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul.inline li,
ol.inline li {
  display: inline;
  margin-right: .5rem;
  margin-left: .5rem;
}

header {
  margin-top: 2.5rem;
}

header h1 {
  margin-top: 1.5rem;
}

header ul {
  margin-top: 2rem;
}

footer {
  margin-top: 2.5rem;
  margin-bottom: 1.6rem;
}

section + section {
  margin-top: 2.5rem;
}

article + article {
  padding-top: 1.6rem;
  margin-top: 1.6rem;
  border-top: 1px solid #eee;
}

.compact > *:first-child {
  margin-top: 0;
}

.compact > *:last-child {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: var(--muted-color);
}

.container {
  max-width: 46rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.card {
  padding: 0.85rem 1.25rem;
  border: 1px solid #eee;
}

.card:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.card:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.card + .card {
  margin-top: -1px;
}
