---
layout: default
title: "Hi!"
---

<header role="banner">
  <div class="row">
    <div class="column three">
      <img class="avatar round display-block center" alt="Kasper's Gravatar" width="200" height="200" src="{{site.github.owner_gravatar_url}}?s=400" srcset="{{site.github.owner_gravatar_url}}?s=200, {{site.github.owner_gravatar_url}}?s=400 2x">

      <h1 class="text-center">Hi! My name is Kasper</h1>
      <h2 class="text-center text-muted">...and I build things for the web.</h2>

      <ul class="inline text-center">
        <li><a href="mailto:kasperisager@gmail.com"><b>Email</b></a></li>
        <li><a href="https://twitter.com/kasperisager"><b>Twitter</b></a></li>
        <li><a href="https://github.com/kasperisager"><b>GitHub</b></a></li>
      </ul>
    </div>
  </div>
</header>

<main role="main">
  <section class="experiences row">
    <div class="column three">
      <h2>Experience</h2>

      {% for job in site.data.experience %}
        <article class="job" role="article">
          <p>
            <b>{{ job.position }}</b> @ <a href="{{ job.company.url }}">{{ job.company.name }}</a>
            <br><small class="text-muted">{{ job.date.start }} – {{ job.date.end }}</small>
          </p>
          <p>{{ job.description | markdownify }}</p>
        </article>
      {% endfor %}
    </div>
  </section>

  <section class="education row">
    <div class="column three">
      <h2>Education</h2>

      {% for course in site.data.education %}
        <article class="course" role="article">
          <p>
            <b>{{ course.degree }}</b> @ {{ course.school  }}
            <br><small class="text-muted">{{ course.date.start }} - {{ course.date.end }}</small>
          </p>
        </article>
      {% endfor %}
    </div>
  </section>

  <section class="presentations row">
    <div class="column three">
      <h2>Presentations</h2>

      {% for presentation in site.data.presentations %}
        <article class="presentation" role="article">
          <p>
            <b><a href="{{ presentation.url }}">{{ presentation.title }}</a></b> @ <a href="{{ presentation.place.url }}">{{ presentation.place.name }}</a>

            <br><small class="text-muted">{{ presentation.date }}</small>
          </p>
          <p>{{ presentation.tagline | markdownify }}</p>
        </article>
      {% endfor %}
    </div>
  </section>

</main>

<footer role="contentinfo">
  <div class="row">
    <div class="column three">
      <hr>
      <p class="text-center text-muted">Licensed under the terms of the <a href="/LICENSE.html">MIT License</a></p>
    </div>
  </div>
</footer>
