<header role="banner">
  <div class="row">
    <div class="column three">
      <img class="avatar round display-block center" alt="Kasper's Gravatar" width="200" height="200" src="http://www.gravatar.com/avatar/da31a28657acf1c969daccc86f5d611d.png?s=400" srcset="http://www.gravatar.com/avatar/da31a28657acf1c969daccc86f5d611d.png?s=200, http://www.gravatar.com/avatar/da31a28657acf1c969daccc86f5d611d.png?s=400 2x">

      <h1 class="text-center">Hi! My name is Kasper</h1>
      <h2 class="text-center text-muted">...and I build awesome things for the web.</h2>

      <ul class="inline text-center">
        <li><a href="mailto:kasperisager@gmail.com"><b>Email</b></a></li>
        <li><a href="https://twitter.com/kasperisager"><b>Twitter</b></a></li>
        <li><a href="https://github.com/kasperisager"><b>GitHub</b></a></li>
      </ul>
    </div>
  </div>
</header>