---
layout: layout.html
---

<header role="banner">
  <img class="center avatar" alt="Kasper's Avatar" src="https://github.com/kasperisager.png">

  <h1 class="text-center">Hi! My name is Kasper</h1>
  <h2 class="text-center text-muted">...and I build things for the web.</h2>

  <ul class="inline text-center">
    <li><a href="mailto:kasperisager@gmail.com"><b>Email</b></a></li>
    <li><a href="https://github.com/kasperisager"><b>GitHub</b></a></li>
  </ul>
</header>

<main role="main">
  <section>
    <h2>Experience</h2>

    <% experience.forEach(function (job) { %>
      <article class="compact" role="article">
        <p>
          <b><%- job.position %></b> @ <a href="<%- job.company.url %>"><%- job.company.name %></a>
          <br><small class="text-muted"><%- job.date.start %> – <%- job.date.end %></small>
        </p>
        <p><%- job.description %></p>
      </article>
    <% }) %>
  </section>

  <section>
    <h2>Presentations</h2>

    <% presentations.forEach(function (presentation) { %>
      <article class="compact" role="article">
        <p>
          <b><a href="<%- presentation.url %>"><%- presentation.title %></a></b>
          @ <a href="<%- presentation.place.url %>"><%- presentation.place.name %></a>

          <br><small class="text-muted"><%- presentation.date %></small>
        </p>
        <p><%- presentation.tagline %></p>
      </article>
    <% }) %>
  </section>

  <section>
    <h2>Education</h2>

    <% education.forEach(function (course) { %>
      <article class="compact" role="article">
        <p>
          <b><%- course.degree %></b> @ <a href="<%- course.school.url %>"><%- course.school.name %></a>
          <br><small class="text-muted"><%- course.date.start %> - <%- course.date.end %></small>
        </p>
        <p><%- course.description %></p>

        <% if (course.courses) { %>
          <section>
            <h3>Courses</h3>

            <ul class="card-list list-unstyled small">
              <% course.courses.forEach(function (course) { %>
                <li class="card">
                  <span class="text-muted pull-right"><%- course.ects %> ECTS</span>
                  <b><%- course.title %></b>
                  <% if (course.project) { %>
                    &middot; <a href="<%- course.project %>">Project link</a>
                  <% } %>
                </li>
              <% }) %>
            </ul>
          </section>
        <% } %>
      </article>
    <% }) %>
  </section>
</main>

<footer role="contentinfo">
  <hr>
  <p class="text-center text-muted small">Licensed under the terms of the MIT License</p>
</footer>
