<header role="banner">
    <div class="row">

        <div class="column three">
            <%- partial("_avatar") %>
            <h1 class="text-center">Hi! My name is Kasper</h1>
            <h2 class="text-center text-muted">...and I build awesome things for the web.</h2>
            <ul class="inline text-center">
                <li><a href="mailto:kasperisager@gmail.com"><b>Email</b></a></li>
                <li><a href="https://twitter.com/kasperisager"><b>Twitter</b></a></li>
                <li><a href="https://github.com/kasperisager"><b>GitHub</b></a></li>
                <li><a href="https://medium.com/@KasperIsager"><b>Medium</b></a></li>
                <li><a href="https://google.com/+KasperIsager"><b>Google+</b></a></li>
            </ul>
        </div>

    </div>
</header>

<main role="main">

    <section class="about row">
        <div class="column three">
            <%- partial("_bio.md") %>
        </div>
    </section>

    <section class="experience row">
        <div class="column three">
            <h2>Experience</h2>
            <%- partial("_jobs") %>
        </div>
    </section>

</main>

<footer role="contentinfo">
    <div class="row">

        <div class="column three">
            <hr>
            <p class="text-center text-muted">
                <br>Licensed under the terms of the <a href="http://opensource.org/licenses/MIT">MIT License</a>
            </p>
        </div>

    </div>
</footer>
