<header role="banner">
    <div class="row">

        <div class="column three">
            <%- partial("_avatar") %>
            <h1 class="text-center">Hi! My name is Kasper</h1>
            <h2 class="text-center text-muted">...and I build awesome things for the web.</h2>
            <ul class="inline text-center">
                <li><a href=""><b>Email</b></a></li>
                <li><a href=""><b>Twitter</b></a></li>
                <li><a href=""><b>GitHub</b></a></li>
            </ul>
        </div>

    </div>
</header>

<main role="main">

    <section class="about row">
        <div class="column three">
            <%- partial("_bio.md") %>
        </div>
    </section>

    <section class="experience row">
        <div class="column three">
            <h2>Experience</h2>
            <%- partial("_jobs") %>
        </div>
    </section>

</main>

<footer role="contentinfo">
    <div class="row">

        <div class="column three">
            <hr>
            <p class="text-center text-muted">
                <b>Handcrafted with &#9825; using <a href="http://harpjs.com">Harp</a></b>
                <br>Licensed under the terms of the <a href="#">MIT License</a>
            </p>
        </div>

    </div>
</footer>
